<%- include('partials/header') %>
<section class="container flex-grow-1">
  <h2 class="my-4 text-center">Turnos disponibles</h2>
  <div class="row">
    <% dates.forEach(function(date) { %> <% if(date.status) { %>
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Fecha: <%= date.formattedDate %></h5>
          <p class="card-text">
            De: <%= date.initHour %>hs a <%= date.endHour %>hs Barbero: <%=
            date.barber %>
          </p>
          <p class="card-text">
            Estado:
            <span class="badge bg-success">Disponible</span>
          </p>
          <a class="btn btn-primary" id="takeShift" data-id="<%= date.id %>"
            >Tomar Turno</a
          >
          <div id="wallet_container"></div>
        </div>
      </div>
    </div>
    <% } %> <% }); %>
  </div>
</section>
<script>
  const mp = new MercadoPago('APP_USR-10080dfc-08c8-44be-9f51-8e3a45eb9a45', {
    locale: 'es-AR',
  });

  document.querySelectorAll('#takeShift').forEach(function (button) {
    button.addEventListener('click', async () => {
      try {
        const orderData = {
          title: 'Reserva de Turno',
          quantity: 1,
          unit_price: 1000,
          idDate: button.getAttribute('data-id'),
        };

        const response = await fetch('/payments/create_order', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(orderData),
        });

        const preference = await response.json();
        createCheckoutButton(preference.id);
      } catch (error) {
        console.error('Error:', error);
      }
    });
  });

  const createCheckoutButton = (preferenceId) => {
    const bricksBuilder = mp.bricks();

    const renderComponent = async () => {
      if (window.checkoutButton) window.checkoutButton.unmount();

      window.checkoutButton = await bricksBuilder.create(
        'wallet',
        'wallet_container',
        {
          initialization: {
            preferenceId: preferenceId,
          },
        }
      );
    };

    renderComponent();
  };
</script>
<%- include('partials/footer') %>
