<%- include('partials/header') %>
<section class="container flex-grow-1">
  <h2 class="my-4 text-center">Turnos disponibles</h2>
  <div class="row">
    <% dates.forEach(function(date) { %>
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Fecha: <%= date.formattedDate %></h5>
          <p class="card-text">
            De: <%= date.initHour %>hs a <%= date.endHour %>hs Barbero: <%=
            date.barber %>
          </p>
          <p class="card-text">
            Estado: <% if(date.status) { %>
            <span class="badge bg-success">Disponible</span>
            <% } else { %>
            <span class="badge bg-danger">Tomado</span>
            <% } %>
          </p>
          <% if(date.status) { %>
          <a class="btn btn-primary" id="takeShift" data-id="<%= date.id %>"
            >Tomar Turno</a
          >
          <div id="wallet_container"></div>
          <% } %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>
<script>
  /*document.querySelectorAll('#takeShift').forEach(function (button) {
    button.addEventListener('click', function () {
      const confirm = window.confirm('¿Deseas tomar este turno?');
      if (confirm) {
        const idDate = this.getAttribute('data-id');
        fetch('/shift/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ idDate }),
        })
          .then((response) => {
            if (response.status === 200) {
              window.location.href = '/shifts/own';
            } else {
              console.error('Error');
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
    });
  }); */

  const mp = new MercadoPago('TEST-f00175d6-8c9d-498b-ad25-4900c37dc4b9', {
    locale: 'es-AR',
  });

  document.querySelectorAll('#takeShift').forEach(function (button) {
    button.addEventListener('click', async () => {
      try {
        const orderData = {
          title: 'Reserva de Turno',
          quantity: 1,
          unit_price: 500,
          idDate: button.getAttribute('data-id'),
        };

        const response = await fetch('/payments/create_order', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(orderData),
        });

        const preference = await response.json();
        createCheckoutButton(preference.id);
      } catch (error) {
        console.error('Error:', error);
      }
    });
  });

  const createCheckoutButton = (preferenceId) => {
    const bricksBuilder = mp.bricks();

    const renderComponent = async () => {
      if (window.checkoutButton) window.checkoutButton.unmount();

      window.checkoutButton = await bricksBuilder.create(
        'wallet',
        'wallet_container',
        {
          initialization: {
            preferenceId: preferenceId,
          },
        }
      );
    };

    renderComponent();
  };
</script>
<%- include('partials/footer') %>
