<%- include('../partials/header') %>
<section class="container flex-grow-1">
  <div class="d-flex flex-column align-items-center">
    <h2 class="my-4 text-center">Turnos disponibles</h2>
    <button
      type="button"
      class="btn btn-success mb-3"
      data-bs-toggle="modal"
      data-bs-target="#addShiftModal"
    >
      +
    </button>
  </div>
  <div class="row">
    <!-- Turnos de Lucas --><% const hasLucas = datas.some(data => data.date.barber === 'Lucas Gonzalez'); %>

    <% if (hasLucas) { %>
      <h3 class="my-4 text-center" id="barberHeader" style="cursor: pointer;" onclick="toggleDates()">Lucas <span id="arrowIcon">⬇️</span></h3>
      <div id="datesContainer" style="display: none;">
          <% datas.forEach(function(data) { %>
              <% if (data.date.barber === 'Lucas Gonzalez') { %>
                  <div class="col-md-4 mb-3">
                      <div class="card shadow-sm">
                          <div class="card-body">
                              <h5 class="card-title">Fecha: <%= data.date.formattedDate %></h5>
                              <p class="card-text">
                                  De: <%= data.date.initHour %>hs a <%= data.date.endHour %>hs Barbero: <%= data.date.barber %>
                              </p>
                              <p class="card-text">
                                  Estado: 
                                  <% if(data.date.status) { %>
                                      <span class="badge bg-success">Disponible</span>
                                  <% } else { %>
                                      <span class="badge bg-danger">Tomado</span>
                                      <p class="card-text"><%= data.user.name %> <%= data.user.phone %></p>
                                  <% } %>
                              </p>
                              <% if(data.date.status) { %>
                                  <a class="btn btn-primary" id="takeShift" data-id="<%= data.date.id %>">Tomar Turno</a>
                                  <a class="btn btn-warning m-3" id="deleteDate" data-id="<%= data.date.id %>">Eliminar</a>
                              <% } %>
                          </div>
                      </div>
                  </div>
              <% } %>
          <% }); %>
      </div>
    <% } %>
    <!-- Turnos de Brian -->
    <% const hasBrian = datas.some(data => data.date.barber === 'Brian Bravo'); %>
    <% const hasMirko = datas.some(data => data.date.barber === 'Mirko Collao'); %>

<!-- Turnos de Brian -->
<% if (hasBrian) { %>
  <h3 class="my-4 text-center" id="brianHeader" style="cursor: pointer;" onclick="toggleBrian()">Brian <span id="brianArrow">⬇️</span></h3>
  <div id="brianDates" style="display: none;">
    <% datas.forEach(function(data) { %>
      <% if (data.date.barber === 'Brian Bravo') { %>
        <div class="col-md-4 mb-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Fecha: <%= data.date.formattedDate %></h5>
              <p class="card-text">
                De: <%= data.date.initHour %>hs a <%= data.date.endHour %>hs Barbero: <%= data.date.barber %>
              </p>
              <p class="card-text">
                Estado:
                <% if (data.date.status) { %>
                  <span class="badge bg-success">Disponible</span>
                <% } else { %>
                  <span class="badge bg-danger">Tomado</span>
                  <p class="card-text"><%= data.user.name %> <%= data.user.phone %></p>
                <% } %>
              </p>
              <% if (data.date.status) { %>
                <a class="btn btn-primary" id="takeShift" data-id="<%= data.date.id %>">Tomar Turno</a>
                <a class="btn btn-warning m-3" id="deleteDate" data-id="<%= data.date.id %>">Eliminar</a>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    <% }); %>
  </div>
<% } %>

<!-- Turnos de Mirko -->
<% if (hasMirko) { %>
  <h3 class="my-4 text-center" id="mirkoHeader" style="cursor: pointer;" onclick="toggleMirko()">Mirko <span id="mirkoArrow">⬇️</span></h3>
  <div id="mirkoDates" style="display: none;">
    <% datas.forEach(function(data) { %>
      <% if (data.date.barber === 'Mirko Collao') { %>
        <div class="col-md-4 mb-3">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Fecha: <%= data.date.formattedDate %></h5>
              <p class="card-text">
                De: <%= data.date.initHour %>hs a <%= data.date.endHour %>hs Barbero: <%= data.date.barber %>
              </p>
              <p class="card-text">
                Estado:
                <% if (data.date.status) { %>
                  <span class="badge bg-success">Disponible</span>
                <% } else { %>
                  <span class="badge bg-danger">Tomado</span>
                  <p class="card-text"><%= data.user.name %> <%= data.user.phone %></p>
                <% } %>
              </p>
              <% if (data.date.status) { %>
                <a class="btn btn-primary" id="takeShift" data-id="<%= data.date.id %>">Tomar Turno</a>
                <a class="btn btn-warning m-3" id="deleteDate" data-id="<%= data.date.id %>">Eliminar</a>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    <% }); %>
  </div>
<% } %>
  </div>
</section>

<div
  class="modal fade"
  id="addShiftModal"
  tabindex="-1"
  aria-labelledby="addShiftModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addShiftModalLabel">Agregar Turno</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addShiftForm">
          <div class="mb-3">
            <label for="shiftDate" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="shiftDate" required />
          </div>
          <div class="mb-3">
            <label for="initHour" class="form-label">Hora de inicio</label>
            <select class="form-select" id="initHour" required>
              <% for(let i = 8; i < 24; i++) { %>
              <option value="<%= i %>"><%= ('0' + i).slice(-2) %></option>
              <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label for="endHour" class="form-label">Hora de fin</label>
            <select class="form-select" id="endHour" required>
              <% for(let i = 9; i < 24; i++) { %>
              <option value="<%= i %>"><%= ('0' + i).slice(-2) %></option>
              <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label for="barber" class="form-label">Barbero</label>
            <select class="form-select" id="barber" required>
              <option value="" disabled selected>Selecciona un barbero</option>
              <option value="Lucas Gonzalez">Lucas Gonzalez</option>
              <option value="Brian Bravo">Brian Bravo</option>
              <option value="Mirko Collao">Mirko Collao</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById('addShiftForm')
    .addEventListener('submit', function (event) {
      event.preventDefault();

      const date = document.getElementById('shiftDate').value;
      const initHour = document.getElementById('initHour').value;
      const endHour = document.getElementById('endHour').value;
      const barber = document.getElementById('barber').value;

      fetch('/date/create', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ date, initHour, endHour, barber }),
      })
        .then((response) => {
          if (response.status === 200) {
            window.location.reload();
          } else {
            console.error('Error al agregar el turno');
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });

  document.querySelectorAll('#deleteDate').forEach(function (button) {
    button.addEventListener('click', function () {
      const confirm = window.confirm('¿Deseas eliminar este turno?');
      if (confirm) {
        const idDate = this.getAttribute('data-id');
        fetch('/date/delete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ idDate }),
        })
          .then((response) => {
            if (response.status === 200) {
              window.location.href = '/';
            } else {
              console.error('Error');
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
    });
  });

  function toggleDates() {
    var container = document.getElementById("datesContainer");
    var arrowIcon = document.getElementById("arrowIcon");
    
    if (container.style.display === "none") {
      container.style.display = "block";
      arrowIcon.textContent = "⬆️";
    } else {
      container.style.display = "none";
      arrowIcon.textContent = "⬇️";
    }
  }

  function toggleBrian() {
    var container = document.getElementById("brianDates");
    var arrowIcon = document.getElementById("brianArrow");
    
    if (container.style.display === "none") {
      container.style.display = "block";
      arrowIcon.textContent = "⬆️";
    } else {
      container.style.display = "none";
      arrowIcon.textContent = "⬇️";
    }
  }

  function toggleMirko() {
    var container = document.getElementById("mirkoDates");
    var arrowIcon = document.getElementById("mirkoArrow");
    
    if (container.style.display === "none") {
      container.style.display = "block";
      arrowIcon.textContent = "⬆️";
    } else {
      container.style.display = "none";
      arrowIcon.textContent = "⬇️";
    }
  }

  document.querySelectorAll('#takeShift').forEach(function (button) {
    button.addEventListener('click', function () {
      const confirm = window.confirm('¿Deseas tomar este turno?');
      if (confirm) {
        const idDate = this.getAttribute('data-id');
        fetch('/shift/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ idDate }),
        })
          .then((response) => {
            if (response.status === 200) {
              window.location.href = '/shifts/own';
            } else {
              console.error('Error');
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      }
    });
  });
</script>
<%- include('../partials/footer') %>
